.info-container{
  margin-top: 50px;
}
.name {
  font-size: 35px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 22px;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}
.social-icon {
  width: 22px;
  height: 22px;
}
